
/* learn */

.learn {
  padding: 5rem;
  background-color: var(--clr-light-gray);
}

.learn-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.learn-heading h2 {
  white-space: nowrap;
}

.learn-heading-title {
  border-right: 1px solid var(--clr-dark-blue);
  padding-right: 3rem;
}

.learn-heading p {
  padding: 0 3rem;
}

.learn-heading a {
  white-space: nowrap;
}


.learn-courses {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.course-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.course-box-data h2 {
  font-size: 2rem;
}

.course-box-data {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.course-box-data p {
  margin: 1rem 0;
}

.course-box-data a {
  border-radius: 0.3rem;
  text-transform: capitalize;
  margin-top: auto;
}

