
/* learn */



.learn-courses {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


@media (max-width: 1000px) {
  .learn-heading-body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20rem; */
  }
}

@media (max-width: 850px) {
  .learn-heading {
    flex-direction: column;
  }

  .learn-heading-title {
    border-right: 0;
    border-bottom: 1px solid var(--clr-dark-blue);
    padding-right: 3rem;
    padding: 1rem 0;
    margin: 1rem 0;
  }
}


.course-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.course-box-data h2 {
  font-size: 2rem;
}

.course-box-data {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.course-box-data p {
  margin: 1rem 0;
}

.course-box-data a {
  border-radius: 0.3rem;
  text-transform: capitalize;
  margin-top: auto;
}

