
.overview {
  padding: 5rem 0;
}

.overview .container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.course-overview {
  padding: 4rem;
}

.course-overview h2 {
  font-size: 2.25rem;
  margin: 1rem 0;
}

.course-overview h3 {
  font-size: 1.45rem;
  margin: 1rem 0;
}

.course-content-title {
  border-top: 1px solid gray;
  padding: 1rem 0;
}


.chapter h3 {
  font-size: 1.125rem;
}

.chapter .lesson {
  margin: 0.2rem 1rem;
}

.lesson a {
  color: black;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem;
  padding: 0;
}

.lesson a:hover {
  color: rgb(76, 185, 231);
}