

/* pricing */





.prices {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.price-card {
  flex: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3rem;
  text-align: center;
  border-radius: 0.5rem;
}

.price-card:nth-child(2) {
  color: white;
  background-color: var(--clr-blue);
}

.price-card:nth-child(2) a {
  background-color: white;
  color: black;
}

.price-card:nth-child(2) a:hover {
  background-color: var(--clr-light-blue);
}

.price-card .price {
  text-align: center;
  margin: 1rem 0;
}

.price-card .price span {
  font-size: 3rem;
}

.price-card ul {
  margin: 1rem 0;
  text-align: left;
}

.price-card ul li {
  padding: 0.35rem 0;
  /* font-size: 0.85rem; */
}

.price-card a {
  margin-top: 1rem;
}

.fade {
  opacity: 0.2;
}



/* faq */


.faq {
  background-color: var(--clr-light-gray);
  padding: 5rem 0;
}

.faq-content {
  display: flex;
  gap: 2rem;
}

@media (max-width: 850px) {
  .faq-content {
    flex-direction: column;
    text-align: center;
  }
}

.faq-heading {
  flex: 1;
}

.faq-body {
  flex: 3;
}

.faq-group {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 0.3rem;
}

.faq-group .faq-question {
  position: relative;
  transition: color 0.25s;
}

.faq-group .faq-question i {
  position: absolute;
  right: 0;
  top: 0;
}

.faq-group .faq-question:hover {
  cursor: pointer;
  color: var(--clr-light-blue);
}

.faq-group .faq-answer {
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
  overflow-y: hidden;
}

.faq-group .faq-answer.active {
  max-height: 100px;
  margin-top: 1rem;
}

